<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big mac index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js"></script>
    http://jvectormap.com/js/gdp-data.js
    http://jvectormap.com/examples/world-gdp/
</head>
<body>
    <table>
        <tr>
	    <th>X</th>
	    <th>Y</th>
       </tr>
       {% for obj in data %}
       <tr>
            <td>{{obj.country}}</td>	
       </tr>
       {% endfor %}
    </table>
</body>
</html>
